{% extends '@Core/admin/layout.html.twig' %}

{% set context = context ?? 'show' %}

{% block title %}{{ configuration.pageTitle(context)|trans|build_string(entity) }} - {{ parent() }}{% endblock %}

{% block body %}
    {% block header %}
        <div class="bg-light pl-5 pr-4 pt-5 pb-5">
            <div class="crud-header">
                {% block header_title %}
                    <h1 class="crud-header-title">{{ configuration.pageTitle(context)|trans|build_string(entity) }}</h1>
                {% endblock %}

                {% block header_actions %}
                    <div class="crud-header-actions">
                        <div class="btn-group">
                            {% block header_actions_before %}{% endblock %}

                            {% if configuration.action(context, 'back', true) %}
                                <a href="{{ path(configuration.pageRoute('index')) }}" class="btn btn-light">
                                    <span class="fa fa-list pr-1"></span>
                                    {{ configuration.actionTitle(context, 'back', 'Back to the list')|trans }}
                                </a>
                            {% endif %}

                            {% if configuration.action(context, 'edit', true) %}
                                <a href="{{ path(configuration.pageRoute('edit'), {entity: entity.id}) }}" class="btn btn-primary">
                                    <span class="fa fa-edit pr-1"></span>

                                    {{ configuration.actionTitle(context, 'edit', 'Edit')|trans|build_string(entity) }}
                                </a>
                            {% endif %}

                            {% block header_actions_after %}{% endblock %}

                            {% if header_actions_dropdown_menu is not defined %}
                                {% set header_actions_dropdown_menu = '' %}
                            {% endif %}

                            {% block header_actions_dropdown %}
                                {% if header_actions_dropdown_menu %}
                                    <button type="button" class="btn btn-white dropdown-toggle dropdown-toggle-hide-after" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="font-weight-bold">
                                            ⋅⋅⋅
                                        </span>
                                    </button>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        {{ header_actions_dropdown_menu|raw }}
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block show %}
        <div class="row">
            <div class="col-md-12">
                {{ include(configuration.view('show_entity', '@Core/admin/crud/_show.html.twig')) }}
            </div>
        </div>
    {% endblock %}
{% endblock %}
