{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'Settings'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="bg-light pl-5 pr-4 pt-5 {% if pager.paginationData.pageCount < 2 %}pb-5{% endif %}">
        <div class="crud-header">
            <h1 class="crud-header-title">{{ 'Settings'|trans }}</h1>
        </div>

        {{ knp_pagination_render(pager) }}
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="col-5">{{ 'Label'|trans }}</th>
                    <th class="col-5">{{ 'Section'|trans }}</th>
                    <th class="col-2 miw-100 text-right">{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pager %}
                    {% set edit = path('admin_setting_edit', {entity: item.id}) %}

                    <tr data-dblclick="{{ edit }}">
                        <td class="col-5">
                            <a href="#" data-modal="{{ edit }}" class="font-weight-bold text-body d-block">
                                {{ item.label|trans }}
                            </a>
                        </td>
                        <td class="col-5">
                            <span class="btn btn-light">{{ item.section|trans }}</span>
                        </td>
                        <td class="col-2 miw-100 text-right">
                            <span data-modal="{{ edit }}" class="btn btn-sm btn-primary mr-1">
                                <span data-modal="{{ edit }}" class="fa fa-edit"></span>
                            </span>
                            <button type="submit" form="form-delete-{{ item.id }}" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>

                            <form method="post" action="{{ path('admin_setting_delete', {entity: item.id}) }}" id="form-delete-{{ item.id }}" data-form-confirm>
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="col-12 text-center p-4 text-black-50" colspan="3">
                            <div class="display-1">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="display-5 mt-3">
                                {{ 'No result'|trans }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
