{% extends 'bootstrap_4_layout.html.twig' %}

{% block file_widget -%}
    <div class="row">
        <div class="col-12">
            {% set value = form.vars.data %}

            {% if value %}
                {% if value and value.extension in ['jpeg', 'jpg', 'gif', 'png', 'svg'] %}
                    <div class="card">
                        <div class="card-img-top bg-tiles text-center">
                            <a href="{{ asset(value.pathname) }}" target="_blank">
                                <img src="{{ asset(value.pathname) }}" class="img-fluid">
                            </a>
                        </div>
                        <div class="card-body">
                            {{- parent() -}}
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            {{- parent() -}}

                            <div class="p-2 text-center">
                                <a class="btn btn-primary" href="{{ asset(value.pathname) }}" target="_blank">
                                    {{ 'Download'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {{- parent() -}}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block collection_block_widget %}
    <div data-collection="collection-{{ collection_name }}">
        {% for item in form.value %}
            <div data-collection-item="{{ loop.index }}">
                {% for child in item %}
                    {{ form_row(child) }}
                {% endfor %}

                <div class="text-right">
                    <span data-collection-delete-container class="btn btn-sm btn-danger">
                        <span data-collection-delete="{{ loop.index }}">
                            {{ label_delete|trans }}
                        </span>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div data-collection-add="collection-{{ collection_name }}" class="collection-add">
        <span class="btn btn-sm btn-primary" data-collection-add="collection-{{ collection_name }}">
            {{ label_add|trans }}
        </span>
    </div>

    <template type="text/template" id="collection-{{ collection_name }}">
        <div data-collection-item="__name__">
            {{ form_rest(form.value.vars.prototype) }}

            <div class="text-right">
                <span data-collection-delete-container class="btn btn-sm btn-danger">
                    {{ label_delete|trans }}
                </span>
            </div>
        </div>
    </template>
{% endblock %}

{% block murph_collection_widget %}
    <div data-collection="collection-{{ collection_name }}">
        {% for item in form %}
            <div data-collection-item="{{ loop.index }}" class="mb-1">
                {% for child in item %}
                    {{ form_row(child) }}
                {% endfor %}

                <div class="text-right">
                    <span data-collection-delete-container class="btn btn-sm btn-danger">
                        <span data-collection-delete="{{ loop.index }}">
                            {{ label_delete|trans }}
                        </span>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div data-collection-add="collection-{{ collection_name }}" class="collection-add">
        <span class="btn btn-sm btn-primary" data-collection-add="collection-{{ collection_name }}">
            {{ label_add|trans }}
        </span>
    </div>

    <template type="text/template" id="collection-{{ collection_name }}">
        <div data-collection-item="__name__">
            {{ form_rest(form.vars.prototype) }}

            <div class="text-right">
                <span data-collection-delete-container class="btn btn-sm btn-danger">
                    {{ label_delete|trans }}
                </span>
            </div>
        </div>
    </template>
{% endblock %}

{% block file_picker_widget %}
    <div class="form-filepicker">
        {% set value = form.vars.data %}

        <div class="card">
            {% if value %}
                {% if value.extension is defined and value.extension in ['jpeg', 'jpg', 'gif', 'png', 'svg'] %}
                    <div class="card-img-top bg-tiles text-center">
                        <a href="{{ asset(value.pathname) }}" target="_blank">
                            <img src="{{ asset(value.pathname) }}" class="img-fluid">
                        </a>
                    </div>
                {% else %}
                    {% for extension in ['.jpeg', '.jpg', '.gif', '.png', '.svg'] %}
                        {% if value ends with extension %}
                            <div class="card-img-top bg-tiles text-center">
                                <a href="{{ asset(value) }}" target="_blank">
                                    <img src="{{ asset(value) }}" class="img-fluid">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

            <div class="card-body">
                <div class="d-none">
                    {{- form_widget(form) -}}
                </div>

                <div class="p-2 text-center">
                    <span class="form-filepicker-container">
                        <div class="input-group mb-3">
                            <input class="form-control form-filepicker-picker" data-target="{{ id }}" readonly type="text" value="{{ value }}">
                            <div class="input-group-append form-filepicker-reset" data-target="{{ id }}">
                                <div class="input-group-text btn" data-target="{{ id }}">
                                    <span class="fa fa-backspace" data-target="{{ id }}"></span>
                                </div>
                            </div>
                        </div>

                        <span class="btn btn-sm btn-primary form-filepicker-picker mb-1" data-target="{{ id }}">
                            {{ 'Choose'|trans }}
                        </span>
                    </span>

                    {% if value %}
                        {% if value.pathname is defined %}
                            <a class="btn btn-sm btn-success ml-1 mb-1" href="{{ asset(value.pathname) }}" target="_blank">
                                {{ 'Download'|trans }}
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-success ml-1 mb-1" href="{{ asset(value) }}" target="_blank">
                                {{ 'Download'|trans }}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_row -%}
    {%- set widget_attr = {} -%}

    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~ "_help"}} -%}
    {%- endif -%}

    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {% else %}
        {%- set element = 'div' -%}
    {%- endif -%}

    {% if element == 'fieldset' and not ('col-' in form.vars.row_attr.class|default('')) %}
        {% set class = row_attr.class|default('') ~ ' col-md-12 form-group' %}
    {% else %}
        {% set class = row_attr.class|default('') ~ ' form-group' %}
    {% endif %}

    <{{ element }}{% with {attr: row_attr|merge({class: class|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_help(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}
