<div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-hide-after" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ app.user }}
        <span class="ml-1 fa fa-cog"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a href="{{ path('admin_account') }}" class="dropdown-item">
            {{ 'My account'|trans }}
        </a>

        <a href="{{ path('auth_logout') }}" class="dropdown-item">
            {{ 'Logout'|trans }}
        </a>
    </div>
</div>
