{% import "@Core/admin/macros/menu.html.twig" as macros_menu %}

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {{ macros_menu.active_class('dashboard', section) }}" href="{{ path('admin_dashboard_index') }}">
            <span class="fa fa-chart-line"></span>

            <span class="nav-item-label">
                {{ 'Dashboard'|trans }}
            </span>
        </a>
    </li>
</ul>

{% if is_granted('ROLE_ADMIN') %}
    <h6 class="sidebar-heading justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Contenu</span>
    </h6>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {{ macros_menu.active_class('site_navigation', section) }}" href="{{ path('admin_site_navigation_index') }}">
                <span class="fa fa-globe-europe"></span>

                <span class="nav-item-label">
                    {{ 'Navigations'|trans }}
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ macros_menu.active_class('site_tree', section) }}" href="{{ path('admin_site_tree_index') }}">
                <span class="fa fa-sitemap"></span>

                <span class="nav-item-label">
                    {{ 'Trees'|trans }}
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ macros_menu.active_class('site_page', section) }}" href="{{ path('admin_site_page_index') }}">
                <span class="fa fa-file-alt"></span>

                <span class="nav-item-label">
                    {{ 'Pages'|trans }}
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ macros_menu.active_class('file_manager', section) }}" href="{{ path('admin_file_manager_index') }}">
                <span class="fa fa-photo-video"></span>

                <span class="nav-item-label">
                    {{ 'Files'|trans }}
                </span>
            </a>
        </li>
    </ul>
{% endif %}

{{ include('admin/menu.html.twig') }}

{% if is_granted('ROLE_ADMIN') %}
    <h6 class="sidebar-heading justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>{{ 'Administration'|trans }}</span>
    </h6>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {{ macros_menu.active_class('user', section) }}" href="{{ path('admin_user_index') }}">
                <span class="fa fa-user"></span>

                <span class="nav-item-label">
                    {{ 'Users'|trans }}
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ macros_menu.active_class('task', section) }}" href="{{ path('admin_task_index') }}">
                <span class="fa fa-play"></span>

                <span class="nav-item-label">
                    {{ 'Tasks'|trans }}
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ macros_menu.active_class('setting', section) }}" href="{{ path('admin_setting_index') }}">
                <span class="fa fa-sliders-h"></span>

                <span class="nav-item-label">
                    {{ 'Settings'|trans }}
                </span>
            </a>
        </li>
    </ul>
{% endif %}
