{% extends 'base.html.twig' %}

{%- block page -%}
    <h1>{{ _page.title.value }}</h1>

    {{ _page.content.value|murph_url|file_attributes|raw }}

    <hr>

    {% set image = _page.image.value %}

    {% if image %}
        <img src="{{ asset(image) }}" alt="{{ image|file_attribute('alt') }}" title="{{ image|file_attribute('title') }}">
    {% endif %}
{%- endblock -%}

