<div class="row">
    <div class="col-12 p-3">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="font-weight-bold pb-2 d-block">{{ 'Label'|trans }}</span>

                {{ entity.label }}
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold pb-2 d-block">{{ 'Domain'|trans }}</span>

                {{ entity.domain }}
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold pb-2 d-block">{{ 'Locale'|trans }}</span>

                {{ entity.locale }}
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold pb-2 d-block">{{ 'Code'|trans }}</span>

                {{ entity.code }}
            </li>
        </ul>
    </div>
</div>
