{% set datas = configuration.viewDatas(context) %}

<div class="row">
    <div class="col-12 p-3">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <span class="font-weight-bold pb-2 d-block">{{ 'Label'|trans }}</span>
                        {{ entity.label }}
                    </div>
                    <div class="col-md-4">
                        <span class="font-weight-bold pb-2 d-block">{{ 'Locale'|trans }}</span>
                        {{ entity.locale }}
                    </div>
                    <div class="col-md-4">
                        <span class="font-weight-bold pb-2 d-block">{{ 'Code'|trans }}</span>
                        {{ entity.code }}
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="mb-3">
                    <span class="font-weight-bold pb-2 d-block">{{ 'Domain'|trans }}</span>
                    {{ entity.domain }}
                </div>
                <div>
                    {% set additionalDomains = entity.additionalDomains %}

                    <span class="font-weight-bold pb-2 d-block">{{ 'Additional domains'|trans }}</span>

                    {% for item in additionalDomains %}
                        <div>
                            {{ item.domain }}

                            {% if item.type == 'domain' %}
                                ({{ 'Domain'|trans|lower }})
                            {% else %}
                                ({{ 'Regular expression'|trans|lower }})
                                {% endif %}
                            </div>
                        {% else %}
                            -
                        {% endfor %}
                    </div>
            </li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="col-5">{{ 'Label'|trans }}</th>
                    <th class="col-5">{{ 'Section'|trans }}</th>
                    <th class="col-2 miw-100 text-right">{{ 'Actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in datas.settings %}
                    {% set edit = path('admin_navigation_setting_edit', {entity: item.id}) %}

                    <tr data-dblclick="{{ edit }}">
                        <td class="col-5">
                            <a href="#" data-modal="{{ edit }}" class="font-weight-bold text-body d-block">
                                {{ item.label|trans }}
                            </a>
                        </td>
                        <td class="col-5">
                            <span class="btn btn-light">{{ item.section|trans }}</span>
                        </td>
                        <td class="col-2 miw-100 text-right">
                            <span data-modal="{{ edit }}" class="btn btn-sm btn-primary mr-1">
                                <span data-modal="{{ edit }}" class="fa fa-edit"></span>
                            </span>
                            <button type="submit" form="form-delete-{{ item.id }}" class="btn btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>

                            <form method="post" action="{{ path('admin_navigation_setting_delete', {entity: item.id}) }}" id="form-delete-{{ item.id }}" data-form-confirm>
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="col-12 text-center p-4 text-black-50" colspan="3">
                            <div class="display-1">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="display-5 mt-3">
                                {{ 'No result'|trans }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
