{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        {{ include('@Core/admin/module/metas.html.twig') }}

        <title>{% block title %}{{ 'Authentication'|trans }}{% endblock %}</title>

        {% block css %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        <div class="container login-container">
            <div class="row shadow rounded">
                <div class="col-md-12">
                    <div class="login-form">
                        <div class="h3 pb-4">
                            <span class="text-success">
                                <span class="fa fa-lock"></span>
                            </span>

                            {{ 'Secured access'|trans }}
                        </div>

                        <form method="post" action="{{ path("2fa_login_check") }}">
                            <p>
                                {% trans %}This access is secured by double authentication. Take your phone and generate a verification code for this application.{% endtrans %}
                            </p>

                            <div class="form-group">
                                <label for="form-password">{{ 'Code'|trans }}</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fa fa-key"></span>
                                        </div>
                                    </div>

                                    <input
                                        type="text"
                                        name="{{ authCodeParameterName }}"
                                        class="form-control"
                                        autocomplete="one-time-code"
                                        pattern="[0-9]*"
                                        inputmode="numeric"
                                        maxlength="6"
                                        style="max-width: 100px"
                                        autofocus
                                        required
                                    >
                                </div>
                            </div>

                            {% if isCsrfProtectionEnabled %}
                                <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                            {% endif %}

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="{{ 'Connexion'|trans }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% block js %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
{% endapply %}
