{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        {{ include('@Core/admin/module/metas.html.twig') }}

        <title>{% block title %}{{ 'Authentication'|trans }} - {{ site_name }}{% endblock %}</title>

        {% block css %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        <div class="container login-container">
            <div class="row shadow rounded">
                <div class="col-md-6">
                    <div class="login-form">
                        <div class="h3 pb-4">
                            <span class="text-success">
                                <span class="fa fa-lock"></span>
                            </span>

                            {{ 'Secured access'|trans }}
                        </div>

                        {% if error %}
                            <div class="alert alert-danger">
                                {{ 'Username or password is incorrect.'|trans }}
                            </div>
                        {% endif %}

                        <form method="post" action="{{ path("auth_login") }}">
                            <div class="form-group">
                                <label for="form-id">{{ 'Username'|trans }}</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fa fa-address-book"></span>
                                        </div>
                                    </div>

                                    <input type="text" name="_username" value="{{ last_username }}" class="form-control" id="form-id" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="form-password">{{ 'Password'|trans }}</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fa fa-key"></span>
                                        </div>
                                    </div>

                                    <input type="password" name="_password" class="form-control" id="form-password" required>
                                </div>

                                <p><a href="{{ path('auth_resetting_request') }}">{{ 'Forgot your password'|trans }}</a></p>
                            </div>

                            <div class="form-group">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" name="_remember_me" type="checkbox" id="form-remember">
                                    <label class="form-check-label" for="form-remember">
                                        {{ 'Remember me'|trans }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="{{ 'Login'|trans }}">
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </form>
                    </div>
                </div>
                <div class="col-md-6 bg-light d-flex">
                    <div class="flex-fill align-self-center text-center p-3">
                        <img class="login-image" src="{{ asset(site_logo) }}" alt="{{ site_name }}" title="{{ site_name }}">
                    </div>
                </div>
            </div>
        </div>

        {% block js %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
{% endapply %}
