{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        {{ include('@Core/admin/module/metas.html.twig') }}

        <title>{% block title %}{{ 'Authentication'|trans }} - {{ site_name }}{% endblock %}</title>

        {% block css %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        <div class="container login-container">
            <div class="row shadow rounded">
                <div class="col-md-6">
                    <div class="login-form">
                        <div class="h3 pb-4">
                            <span class="text-success">
                                <span class="fa fa-lock"></span>
                            </span>

                            {{ 'Forgot your password'|trans }}
                        </div>

                        {% if email_sent %}
                            <div class="alert alert-info">
                                {% trans %}If the information submitted corresponds to a user account, you will receive an e-mail with the link to initiate the password change procedure.{% endtrans %}<br>
                            </div>
                        {% else %}
                            <form method="post" action="{{ path("auth_resetting_request") }}">
                                <p>
                                    {% trans %}Enter your account username or email address. An e-mail will be sent to you to initiate the password change procedure.{% endtrans %}
                                </p>

                                <div class="form-group">
                                    <label for="form-id">{{ 'Username or e-mail'|trans }}</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="fa fa-at"></span>
                                            </div>
                                        </div>

                                        <input type="text" name="username" class="form-control" id="form-id" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="{{ 'Submit'|trans }}">
                                    &nbsp;
                                    <a class="btn btn-light" href="{{ path('auth_login') }}">{{ 'Show the login page'|trans }}</a></p>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('resetting_request') }}">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 bg-light d-flex">
                    <div class="flex-fill align-self-center text-center p-3">
                        <img class="login-image" src="{{ asset(site_logo) }}" alt="{{ site_name }}" title="{{ site_name }}">
                    </div>
                </div>
            </div>
        </div>

        {% block js %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
{% endapply %}
